[Unit]
Description=Telegram AI Bot
After=network.target

[Service]
Type=simple
User=pnc
WorkingDirectory=/home/pnc/telegram-ai-bot
Environment="TELEGRAM_BOT_TOKEN=8606599772:AAHp_3BiT2RGNW_BlcqAtEkDw_YoposxlsQ"
Environment="GEMINI_API_KEY=AIzaSyCHMRHaNMx0S6jAgfk9bRc3QQUFZ-EXTMs"
Environment="GEMINI_MODEL=gemini-2.5-flash-lite"
Environment="PROFILE_CSV_PATH=data/profiles/phoun.csv"
Environment="PYTHONUNBUFFERED=1"
ExecStart=/home/pnc/telegram-ai-bot/venv/bin/python /home/pnc/telegram-ai-bot/app.py
Restart=always
RestartSec=5
KillMode=process

[Install]
WantedBy=multi-user.target
